<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="dysoft.common" value="http://49.4.86.145/api/v4/projects/41/packages/nuget/index.json" allowInsecureConnections="True" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <disabledPackageSources />
</configuration>
